/* Generic Selectors */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #222222;
	background-color: #FFFFFF;
}

p {
	width: 80%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav {
    background-color: #444444;
    width: 800px;
    height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

nav li {
	list-style-type: none;
    display: inline;
	margin: 0px;
	padding: 0;
}

#menu {
    position: absolute;
	width: 100px;
	height: 600px;
    background-color: #FFFFFF;
	margin-top: 0px;
    margin-bottom: 0px;
	border-right: 1px solid #CCCCCC;
	font-weight: normal;
}
#menu li {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
}

h1 {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 60px;
	color: #FF5511;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60px;
	color: #CCCCCC;
}

h3 {
	font-family: "Arial Black", Gadget, san-serif;
	font-size: 14px;
	color: #222222;
    margin-top: 0px;
    margin-bottom: 0px;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

h5 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #222222;
}

/*************** Pseudo classes *********************/

a:link {
    color: #333faa;
    text-decoration: none
}

a:visited {
	color: #ff6a00;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
    text-decoration: underline;
}

ul a:visited {
	color: #AAAAAA;
	text-decoration: none;
}

ul a:hover {
    text-decoration: underline;
}

nav a:link {
    color: #FFFFFF;
    text-decoration: none;
}

nav a:visited {
	color: #EEEEEE;
	text-decoration: none;
}

nav a:hover {
	color: #FF5511;
	text-decoration: none;
}

/****************** ID's ****************************/

#container {
	position: absolute;
	width: 800px;
}

#header {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 800px;
    height: 100px;
}

#centerDoc {
    background-color: #FFFFFF;
	width:	680px;
    height: 600px;
	margin-left: 120px;
}



