@using BusinessSolutions.Models
@{
    Layout = "../Shared/_Layout.cshtml";
}

<h2>About Us</h2>
<p>
    As the name suggests, we provide professional business data solutions.
    Our services include custom webpages and mobile applications to fit your
    business needs.
    <br/><br/>
    <b>Features Incude:</b>
    <br/>Integrated accounting services
    <br/>Industrial strength security standards
    <br/>Custom mobile apps
    <br/>Web traffic monitoring analytics
    <br/>Continued support and updates
    <br/>Quality guarantee

    
</p>