@using BusinessSolutions.Models;
@{
    Layout = "../Shared/_Layout.cshtml";
}

<p>
    We are an experienced IT team commited to delivering efficient business and data solutions to fit any need.
</p>
