@using BusinessSolutions.Models
@{
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Contact</h2>
<p>
    You have business needs, we have business solutions.  Lets get in touch.
    <br/><br/>Email: stantoncbradley@gmail.com


</p>