@using BusinessSolutions.Models;
@{
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Home</h2>
<p>
    This is the homepage.
    Welcome to the homepage.
    Click links to explore the rest of the site.
    Don't forget to sign in or register!
</p>