@using BusinessSolutions.Models
@model ItemModel

@{
    Layout = "../Shared/_Layout.cshtml";
}
<div>
    <h3>@Model.Title</h3>
    <div>
        <p>
            @Model.ItemText
        </p>
    </div>
</div>