@using BusinessSolutions.Models
@model ProductModel
@{
    Layout = "../Shared/_Layout.cshtml";
}

@foreach(ItemModel thisItem in Model.Items)
{
    <h3>@thisItem.Title</h3>
    <div>
        <p>
            @thisItem.ItemText.Substring(0, 20)
        </p>
        <div><a href="@Url.Action("items", new {itemId = thisItem.Id})">Full description</a></div>
    <br/>
    </div>
}
    