<!DOCTYPE html>
<html>
<head>
    <title>Business Solutions</title>
    <link href="../assets/CoverPageCSS.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="container">
        <div id="header">
            <h1><a href="/Home/Index">Business.Solutions</a></h1>

            <h3>Custom data solutions to meet your needss</h3>
        </div>

        <div id="horizontalMenu">
                <ul>
                <h4>
                    <li.a><a href="/Home/aboutUs">About Us</a></li.a>
                    <li.a><a href="/Home/portfolio">Portfolio</a></li.a>
                    <li.a><a href="/Home/contact">Contact</a></li.a>
                    <li.a><a href="/Home/signIn">Sign In</a></li.a>
                    <li.a><a href="/Home/createAccount">Create an Account</a></li.a>
                </h4>
                </ul>
        </div>

        <div id="menu">
            <h5>
                <ul>
                    <li.b><a href="/Home/mission">Our Mission</a></li.b>
                    <br>
                    <li.b><a href="/Home/team">Our Team</a></li.b>
                    <br>
                    <li.b><a href="/Home/products">Products</a></li.b>
                    <br>
                    <li.b><a href="/Home/reviews">Reviews</a></li.b>
                    <br>
                    <li.b><a href="/Home/careers">Careers</a></li.b>
                    <br>
                </ul>
            </h5>
        </div>

        <div id="centerDoc">
            @RenderBody()
        </div>
    </div>
</body>
</html>