@using BusinessSolutions.Models
@model SignInModel
@{
    ViewBag.Title = "Member";
    Layout = "../Shared/_Layout.cshtml";
}

<h3>Sign In</h3>
<div>
    @using(Html.BeginForm("SignIn", "Member"))
    {
        @Html.ValidationSummary();
        <span>Username</span> @Html.TextBoxFor(m => m.UserName);<br/>
        <span>Password</span> @Html.PasswordFor(m => m.Password);<br/>
        <input type="submit" value="Submit"/>
    }
</div>